html,
body {
    margin: 0;
    align-items: center;
    padding: 0;
    border: #55608f;
    scroll-behavior: smooth;
    font-family: 'Signika', sans-serif;
}

.tabNavbar {

    position: sticky;
    top: 0;
    z-index: 3;

}

.queryNavbar {
    position: sticky;
}

.queryNavbar ul,
.tabNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #86A7FC;
    max-height: 5vh;
}

.queryNavbar li,
.tabNavbar li {
    float: left;
}

.tabNavbar li a,
.queryNavbar li a {

    display: block;
    color: #FFDD95;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #3468C0;

}

.tabNavbar .active{
    background-color: #FF9843;

}

.queryNavbar li {
    width: 33.33%;
}

.queryNavbar li a:hover,
.tabNavbar li a:hover {
    background-color: #86A7FC;
}

.active {
    background-color: #FF9843;
}

.idFormContainer,
.queryFormContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* .container {
     position: sticky; 
    transform: translate(-50%, -50%);
    } 
*/

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



th,
td {
    padding: 15px;
}

th {
    text-align: left;
    background-color: #FFDD95;
    color: #3468C0;


}

tr:hover {

    background-color: #86A7FC;

}

td {
    position: relative;
    color: #000;

}

main {
    display: flex;
    padding: 0;
    margin: 0;
    min-width: 100vw;
}

#rightContainer {
    width: 40vw;
    height: 95vh;
    background-color: #FFDD95;

}

#leftContainer {
    width: 60vw;
    height: 95vh;

}

.container {
    height: 50px;
    position: relative;
    /* border: 3px solid green; */
}

.buttonContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.queryFormContainer {
    width: 20vw;
    height: 60vh;
    margin: auto;
    padding: 0 50px;
}

/* form{
    display: grid   ;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
} */

label {
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    color: #3468C0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

input[type=text],
select {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3468C0;
    border-radius: 4px;
    background-color: #fff;
    color: #3468C0;
}

input:hover,
select:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Typography */



h1 {
    color: #3468C0;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    text-align: center;
    padding: 10px;
}


p {
    font-family: 'Inder', sans-serif;
    line-height: 28px;
    margin-bottom: 15px;
    color: #FF9843;
}


a {
    transition: .5s;
}

button {
    background-color: #3468C0;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



/* End */