html,
body {
    margin: 0;
    align-items: center;
    padding: 0;
    border: #55608f;
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    font-family: sans-serif;
    font-weight: 100;
}

.tabNavbar {

    position: sticky;
    top: 0;
    z-index: 3;

}

.queryNavbar{
    position: sticky;
}

.queryNavbar ul, .tabNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #324960;
    max-height: 5vh;
}

.queryNavbar li, .tabNavbar li {
    float: left;
}

.tabNavbar li a, .queryNavbar li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #55608f;

}

.queryNavbar li{
    width: 33.33%;
}

.queryNavbar li a:hover, .tabNavbar li a:hover {
    background-color: #4FC3A1;
}

.active {
    background-color: #04AA6D;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
/* .container {
     position: sticky; 
    transform: translate(-50%, -50%);
    } 
*/

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1 {
    text-align: center;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

th {
    text-align: left;
}

thead th {

    background-color: #55608f;

}

tbody tr:hover {

    background-color: rgba(255, 255, 255, 0.3);

}

tbody td {
    position: relative;

}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;


}

main {
    display: flex;
    padding: 0;
    margin: 0;
    min-width: 100vw;
}

#rightContainer {
    width: 40vw;
    height: 95vh;
    background-color: #ff4411;
    align-items: center;
}

#leftContainer {
    width: 60vw;
    height: 95vh;

}

.container {
    height: 50px;
    position: relative;
    /* border: 3px solid green; */
}

.buttonContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Typography */

h1 {
    color: #ff4411;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    /* padding-bottom: 10px; */
}


p {
    font-family: 'Inder', sans-serif;
    line-height: 28px;
    margin-bottom: 15px;
    color: #666;
}


a {
    color: #ff4411;
    transition: .5s;
    /* -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s; */
}


a:hover {
    color: #a03c21
}


.date {
    float: left
}


.author {
    float: right
}


.entry-content {
    border-bottom: 3px solid #666;
    padding: 0 0 15px 0;
    margin-bottom: 8px;
}


.meta-info {
    padding: 5px;
    overflow: hidden;
}


.meta-info p {
    font-family: 'Fenix', serif;
    font-style: italic;
    color: #666;
    font-size: 16px;
}

/* End */